/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-accordion {
	border: 1px dotted #f00;
}

.wp-block-michigan-framework-accordion {
    border: 1px dashed #ccc;
}
.wp-block-michigan-framework-accordion > label {
    position: relative;
    display: block;
    padding: 5px 30px 5px 5px;
    line-height: 1;
    min-height: 20px;
    border: 1px solid #efefef;
    background-color: #efefef;
}
.wp-block-michigan-framework-accordion > label:after {
    content: "\f156";
    font-family: dashicons;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -.6rem;
}
.wp-block-michigan-framework-accordion > .mfw-accordion-content-wrap > .mfw-accordion-content {
    padding: 0 1em;
}
